---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to narnia.">
	
	<div class="content bg-slate-800 h-screen flex justify-center items-center space-x-8">
			<h1 class="absolute top-0"> Interfaz admind</h1>
			<h2 class="absolute top-5"> ELIGE A DONDE IR</h2>
        <div class="  mr-4 ">

			<a href="../pages/Asistencia.astro">Asistencia</a>
			<img class="size-96" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhTZqiZT2jBF0-xgtOdQ8sMT7oXuhc_810IQy3ZHYP6Q&s" alt="" >
		</div>
		<div class=" mr-4">
			<a href="">Calculadora	</a>
			<img class="size-96" src="https://cdn-icons-png.flaticon.com/512/1011/1011863.png" alt="">
		</div>
		<div class= "">
			<a href="S">Encuesta</a>
			<img class="size-96" src="https://cdn-icons-png.flaticon.com/512/5931/5931349.png" alt="">
		</div>
            
    </div>
</Layout>

